@use "../../styles/design-tokens/typography" as typography;

.text {
  margin: 0;
  font-family: inherit;
  line-height: 1.5;
}

// ===== VARIANTS =====
.primary {
  font-family: #{typography.font-family("primary")};
}

// ===== ALIGNMENTS =====
.left {
  text-align: left;
}

.center {
  text-align: center;
}

.right {
  text-align: right;
}

// ===== SIZES =====
.sm {
  @include typography.text-props("sm");
}

.md {
  @include typography.text-props("md");
}

.lg {
  @include typography.text-props("lg");
}

.thin {
  font-weight: 400;
}
.medium {
  font-weight: 400;
}
.bold {
  font-weight: 600;
}

.white {
  color: var(--color-window-header-text);
}

.black {
  color: var(--color-window-body-text);
}

.red {
  color: var(--color-error);
}
