@use "../../../../shared/styles/design-tokens/spacing" as spacing;
@use "../../../../shared/styles/design-tokens/borders" as borders;
@use "../../../../shared/styles/design-tokens/transitions" as transitions;

.navLink {
  position: relative;
  display: flex;
  align-items: center;
  text-decoration: none;
  cursor: pointer;
}
