@use "@/shared/styles/design-tokens/spacing" as spacing;

.loadingError {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  @include spacing.responsive-gap("md");
}
